.main {
    padding: 2%;
    background-color: #fff;
}

.center {
    text-align: center;
}

.intro {
    position: relative;
    height: 100vh;
    padding: 2%;
    background-color: #f3f3f3;
}
.introdet {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inpart {
    padding: 2%;
}

.links {
    text-decoration: none;
    color: black;
}

.text {
    color: #1434A4;
}

.img {
    text-align: center;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.line {
    border: solid 1px #000080;
}

.box {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    cursor: pointer;
}
.box:hover {
    background-color: #f3f3f3;
}

.text-repos {
    color: green;
}
.repos {
    border: solid 1px green;
    height: 30vh;
}
.repos b {
    color: green;
}
.repos .det {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    color: green;
}
.repos .glink {
    color: green;
    text-decoration: none;
}

.text-gists {
    color: orangered;
}
.gists {
    border: solid 1px orangered;
    height: 15vh;
}
.gists b {
    color: orangered;
}
.gists .det {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    color: orangered;
}
.gists .glink {
    color: orangered;
    text-decoration: none;
}

.text-followers {
    color: purple;
}
.followers {
    border: solid 1px purple;
    height: 25vh;
}
.followers b {
    color: purple;
}
.followers .det {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    color: purple;
}
.followers .glink {
    color: purple;
    text-decoration: none;
}

.text-following {
    color: #000080;
}
.following {
    border: solid 1px #000080;
    height: 25vh;
}
.following b {
    color: #000080;
}
.following .det {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    color: #000080;
}
.following .glink {
    color: #000080;
    text-decoration: none;
}