<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UG Search</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.neotrinost.ir/jobnic/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body class="main">
    <div class="">
        <div class="row">
            <div class="col-md-4 inpart">
                <h3>UG search</h3>
                <p>
                    This is an open-source project.
                    <br>
                    Just search the username, see user data.
                </p>
                <br>
                <h3>How to contribute</h3>
                <p>
                    You can help to improve this project in <i class="fa fa-github"></i> Github.
                </p>
                <br>
                <p>
                    <b>Repository</b> <a href="https://github.com/BlackIQ/UG-Search" class="ilink"><i class="fa fa-github"></i>/BlackIQ/UG-Search</a>
                </p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <br>
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-4 inpart">
                <h3>User search in <i class="fa fa-github"></i></h3>
                <br>
                <form action="/" method="POST">
                    <p><b>Search username</b></p>
                    <div>
                        <div>
                            {{ user_get.csrf_token }}
                            {{ user_get.username(placeholder="Search username", class="form-control bordered border-dark") }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark">Search user</button>
                    </div>
                </form>
                <hr>
                <form action="/" method="POST">
                    <p><b>Search repository</b></p>
                    <div>
                        {{ repo_get.csrf_token }}
                        {{ repo_get.username(placeholder="Username", class="form-control bordered border-dark") }}
                        <br>
                        {{ repo_get.repository(placeholder="Repository", class="form-control bordered border-dark") }}
                        <br>
                        <button type="submit" class="btn btn-dark">Search user repository</button>
                    </div>
                </form>
                <br>
            </div>
            <!---
            <div class="col-md-4 inpart">
                <h3>Organization search in <i class="fa fa-github"></i></h3>
                <br>
                <form action="/" method="POST">
                    <p><b>Search organozation</b></p>
                    <div>
                        <div>
                            {{ user_get.csrf_token }}
                            {{ user_get.username(placeholder="Search username", class="form-control bordered border-dark") }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark">Search organozation</button>
                    </div>
                </form>
                <hr>
                <form action="/" method="POST">
                    <p><b>Search repository</b></p>
                    <div>
                        {{ repo_get.csrf_token }}
                        {{ repo_get.username(placeholder="Username", class="form-control bordered border-dark") }}
                        <br>
                        {{ repo_get.repository(placeholder="Repository", class="form-control bordered border-dark") }}
                        <br>
                        <button type="submit" class="btn btn-dark">Search organozation repository</button>
                    </div>
                </form>
                <br>
            </div>
            -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>