<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gsearch</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.neotrinost.ir/jobnic/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body class="main">
    <div class="">
        <div class="row">
            <div class="col-md-4 inpart">
                <h3>Search User</h3>
                <p>
                    Search the username here.
                </p>
                <br>
                <form action="/" method="POST">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                {{ form.csrf_token }}
                                {{ form.username(placeholder="Search username", class="form-control") }}
                            </div>
                            <br>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success">Search</button>
                            <br>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>