<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gsearch | {{ user["login"] }}</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.neotrinost.ir/jobnic/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body class="main">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="intro">
                    <img class="img" height="75%" width="75%" src='{{ user["avatar_url"] }}'>
                    <br>
                    <br>
                    <h3 class="text">{{ user['name'] }}</h3>
                    <hr class="line">
                    <p class="text">
                        <small><i class="fa fa-info"></i> Bio</small>
                        <br>
                        {{ user['bio'] }}
                    </p>
                    <hr class="line">
                    <p class="text">
                        <i class="fa fa-plus"></i> <b>Joined at</b> {{ user['created_at'] }}
                    </p>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="text">Github Activities</h3>
                    <br>
                    <p>
                        <i class="fa fa-users text"></i> <b class="text">Followers</b> {{ user['followers'] }}
                        <br>
                        <i class="fa fa-plus text"></i> <b class="text">Followings</b> {{ user['following'] }}
                    </p>
                    <p>
                        <i class="fa fa-database text"></i> <b class="text">Public repositories</b> {{ user['public_repos'] }}
                        <br>
                        <i class="fa fa-sticky-note-o text"></i> <b class="text">Public gists</b> {{ user['public_gists'] }}
                    </p>
                    <hr class="line">
                    <h3 class="text">User other data</h3>
                    <br>
                    <p>
                        <i class="fa fa-map-marker text"></i> <b class="text">Location</b> {{ user['location'] }}
                        <br>
                        <i class="fa fa-building text"></i> <b class="text">Company</b> {{ user['company'] }}
                        <br>
                        <i class="fa fa-twitter text"></i> <b class="text">Twitter</b> <a class="links" href="https://twitter.com/{{ user['twitter_username'] }}">{{ user['twitter_username'] }}</a>
                        <br>
                        <i class="fa fa-globe text"></i> <b class="text">Blog | Site</b> <a class="links" href="{{ user['blog'] }}">{{ user['blog'] }}</a>
                    </p>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <h3 class="text">Repositories</h3>
                <br>
                <div class="row">
                    {% for i in range(len_repos) %}
                    <div class="col-md-4">
                        <div class="box" onclick='location.href = "{{ repos[i]['html_url'] }}"'>
                            <b>{{ repos[i]['name'] }}</b>
                            <br>
                            <small>{{ repos[i]['description'] }}</small>
                            <small class="det">
                                <i class="fa fa-star"></i> {{ repos[i]['stargazers_count'] }}
                            </small>
                        </div>
                        <br>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <h3 class="text">Gists</h3>
                <br>
                <div class="row">
                    {% for i in range(len_gists) %}
                    <div class="col-md-4">
                        <div class="box" onclick='location.href = "{{ gists[i]['html_url'] }}"'>
                            <b>{{ gists[i]['description'] }}</b>
                        </div>
                        <br>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <h3 class="text">Followers</h3>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box" onclick='location.href = "https://google.com"'>
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img" sizes="25%" src="https://avatars.githubusercontent.com/u/55284339?v=4">
                                    <br>
                                </div>
                                <div class="col-md-7">
                                    <b>Username</b>
                                    <br>
                                    <small>Bio</small>
                                    <small class="det">
                                        <i class="fa fa-star"></i> x
                                        <i class="fa fa-star"></i> y
                                        <i class="fa fa-star"></i> a
                                        <i class="fa fa-star"></i> b
                                    </small>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>